/*******************/
/* General Styling */
/*******************/

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.navbar-dark {
    background-color: #5D4037;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: burlywood;
}

a {
    color: burlywood;
}

.thumbnail {
    width: 100px;
}

.image-preview {
    width: 300px;

}

.offset-1 {
    padding-left: 112px;
}

/**********************/
/***** index.php *****/
/**********************/

.index {

    height: 913px;
    width: auto;
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index > section {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.index > section > p {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    padding-left: 50px;
    font-size: 20px;
    width: 40%;
    margin-top: 200px;
}

/************************/
/***** wishlist.php *****/
/************************/

.wishlist {
    background-image: url(../img/2.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: auto;
}

.wishlist > div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wishlist > div > div {
    padding: 30px;
}

.wishlist > div > div > a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 0px 100px 0px 100px;
}

.wishlist > div > div > a:hover {
    color: burlywood;
}

.wishlist > div > h1 {
    font-size: 80px;
    color: white;
}

.wishlist > div > table {
    width: 1300px;
}

.wishlist > div > table > tbody > tr > td > a{
    text-decoration: none;
    color: white;
}

.wishlist > div > table > tbody > tr > td > a:hover{
    color: burlywood;
}


/********************************/
/***** wishlist-details.php *****/
/********************************/

.wishlist-details {
    background-image: url(../img/3.jpg);
    background-position: center;
    background-size: cover;
    height: 913px;
    max-width: none;
}

.wishlist-details > div {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 25px;

}

.wishlist-details > div > h1 {
    color: white;
}

.wishlist-details > div > form {
    color: white;
}

.wishlist-details > div > div {
    padding-top: 25px;
}

.wishlist-details > div > div > a {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 25px;
}

.wishlist-details > div > div > a:hover {
    color: burlywood;
}

.save-wishlist-details {
    margin-left: 163px;
}

/*****************************/
/***** save-wishlist.php *****/
/*****************************/

.save-wishlist {
    font-size: 100px;
    display: flex;
    justify-content: end;
    align-items: start;
    background-image: url(../img/4.png);
    background-position: center;
    background-size: cover;
    height: 913px;
    width: auto;
    padding: 50px;
}

/*************************/
/******** 404.php ********/
/*************************/

/**Also uses the same styling for the error page**/

.four0four {
    background-image: url(../img/lost.jpg);
    height: 913px;
    width: auto;
    display: flex;
}

.four0four > div {
    background-color: rgba(0, 0, 0, 0.4);
    height: 913px;
    width: 1920px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 120px;
}

/*************************************/
/******** delete-wishlist.php ********/
/*************************************/

.delete-wishlist {
    background-image: url(../img/terminator.png);
    padding: 50px;
    height: 913px;
    color: white;
    font-size: 40px;
}

/******************************/
/******** register.php ********/
/******************************/

/** Also shared by login.php**/

.register {
    background-image: url(../img/register.jpg);
    height: 913px;

}

.register > div{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 913px;
}

.register > div > p {
    margin-bottom: -5px;
}

.register > div > a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.register > div > a:hover {
    color: rgba(0, 0, 0, 0.7);

}


